<h1> Welcome to Stupid Coaching! </h1>

<p>'Your Question'</p>
<%=@question%>

<p>'Your Answer'</p>
<%=@answer%>
<%= link_to "Welcome to Stupid Coaching", ask_path %>
<%= link_to "Answers", answer_path %>
